<h2>Login Page</h2>
<div>
  <%= form_with model: User, url: users_path, method: :get, local: true do |f| %>
    <div>
      <%= f.label :username %><br>
      <%= f.text_field :username %>
      <%= f.label :password %><br>
      <%= f.text_field :password %>
    </div>

    <div>
      <%= f.submit "Login" %>
    </div>
  <% end %>
</div>