<div class="center"><h1><%= @recipe.recipe_name %></h1></div>
<div class="center"><%= @recipe.author %></div>
<div class="center"><%= @recipe.url %></div>

<div class="flex-container">
  <div class="column">
    <h2 class="col-head">Ingredients</h2>
    <% @ingredients.each do |ingredient| %>
      <ul>
        <li><%= ingredient %></li>
      </ul>
    <% end %>
  </div>
  <div class="column">
    <h2 class="col-head">Instructions</h2>
    <% @instructions.each do |instruction| %>
      <ul>
        <li><%= instruction %></li>
      </ul>
    <% end %>
  </div>
</div>
