<h2>Sign Up Page</h2>
<div>
  <%= form_with model: User, url: sessions_path, method: :get, local: true do |f| %>
    <div>
      <%= f.label :email %><br>
      <%= f.text_field :email %><br>
      <%= f.label :password %><br>
      <%= f.password_field :password %><br>
      <%= f.label :password_confirmation %><br>
      <%= f.password_field :password_confirmation %><br>
    </div>

    <div>
      <%= f.submit "Sign Up" %>
    </div>
  <% end %>
</div>